<div class="list-card">
    <h2>Medicament List</h2>
    <div class="table-tools">
        <input
          type="text"
          placeholder="Search by medication name..."
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange()"
        />
      
        <select
          [(ngModel)]="selectedCategory"
          (ngModelChange)="onCategoryChange()"
        >
          <option value="ALL">All categories</option>
      
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Stock</th>
                <th>Expiry Date</th>
                <th>Days Left</th>
                <th>Batch</th>
                <th>Price</th>
                <th>Supplier</th>
                <th>Status</th>
                <th> Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let m of paginatedMedications">
                <td>{{ m.id }}</td>
                <td>{{ m.name }}</td>
                <td>{{ m.category }}</td>
                <td>{{ m.stock }}</td>
                <td>{{ m.expiryDate }}</td>
                <td>{{ m.daysUntilExpiry }}</td>
                <td>{{ m.batchNumber }}</td>
                <td>{{ m.price }} RON</td>
                <td>{{ m.supplier }}</td>
                <td>
                    <span [class.expired]="getStatus(m) === 'Expired'"
                        [class.expiring]="getStatus(m) === 'Expiring Soon'" [class.low]="getStatus(m) === 'Low Stock'"
                        [class.ok]="getStatus(m) === 'OK'">
                        {{ getStatus(m) }}
                    </span>
                </td>
                <td class = "actions cell">
                    <button type="button" class="edit-btn" (click)="onEdit(m)">
                        Edit
                    </button>
                    <button type="button" class="delete-btn" (click)="onDelete(m.id)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <button (click)="previousPage()" [disabled]="page === 0">
            Previous
        </button>

        <span>
            Page {{ page + 1 }} of {{ totalPages }}
        </span>

        <button (click)="nextPage()" [disabled]="page >= totalPages - 1">
            Next
        </button>
    </div>
</div>